NEXT_PUBLIC_API_KEY=AIzaSyAr6-oafU_1kpZq6GuihQFnrG9Wd4cRKg4
NEXT_PUBLIC_AUTH_DOMAIN=ihmnappdb.firebaseapp.com
NEXT_PUBLIC_PROJECT_ID=ihmnappdb
NEXT_PUBLIC_STORAGE_BUCKET=ihmnappdb.appspot.com
NEXT_PUBLIC_MESSENGING_SENDER_ID=941311845596
NEXT_PUBLIC_APP_ID=1:941311845596:web:4063dee19d19aa3a910019